<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free resto catalogue for you">
  <meta name="theme-color" content="#B22727"/>

  <link rel="icon" href="./logo-restoran.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
 
  <title>Restaurant Catalogue</title>
</head>
<body>
    <header class="appBar">
        <div class="appBar_menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="appBar_title">
          <h1>Yummy Dummy</h1>
        </div>
        <nav id="navigationDrawer" class="appBar_navigation">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="#/aboutus">About Us</a></li>
          </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="heroInner">
          <h2 class="heroTitle">Selamat Datang di Yummy Dummy Resto</h1>
          <p class="heroTagline">Rasakan pengalaman makan makanan dari seluruh dunia</p>
        </div>
    </div>
    <main id="mainContent"></main>
    <footer>
        <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Restaurant API By Dicoding</a></p>
    </footer>
</body>
</html>